{{ 'header.css' | asset_url | stylesheet_tag }}

<header>
  <nav>
    <ul>
      <div class="mo-nav">
        <li class='nav-item1'><img id='logoImg' src="{{ section.settings.logo | image_url }}" alt='' width='' height='' /></li>
        <li class='nav-btn'>x</li>
      </div>
      <li class='nav-item2'><h5>{{ section.settings.Htext }}</h5></li>
      <li class='nav-item3'><button><span>{{ section.settings.HBtext }}</span> <span><bold>→</bold></span></button></li>
    </ul>
  </nav>
  <div id='hero'>
    <img id='logoImg' src="{{ section.settings.heroImg1 | image_url }}" alt='' width='' height='' />
    
    <div class='hero-sec2'>
      <img id='logoImg' src='{{ section.settings.heroImg2 | image_url }}' alt='' width='' height='' />
      <div class='hero-desc'>
        <h1>{{ section.settings.heroT }}</h1>
        <p>
          {{ section.settings.heroD }}
        </p>
        <button>
          <span>{{ section.settings.heroB }}</span> <span><bold>→</bold></span>
        </button>
        </div>
    </div>
    </div>
    <center class='hero-sec2'><h6>{{ section.settings.heroS }}</h6></center>
</header>

{% schema %}
{
  "name": "header",
  "settings": [
    {
      "label":"logo",
      "type":"image_picker",
      "id":"logo"
    },
    {
      "label":"heroImg1",
      "type":"image_picker",
      "id":"heroImg1"
    },
    {
      "label":"heroImg2",
      "type":"image_picker",
      "id":"heroImg2"
    },
    {
      "label":"header text",
      "type": "text",
      "id":"Htext"
    },
    {
      "label":"header button text",
      "type": "text",
      "id":"HBtext"
    },
    {
      "label":"Hero Title",
      "type": "text",
      "id":"heroT"
    },
    {
      "label":"hero description",
      "type": "text",
      "id":"heroD"
    },
    {
      "label":"hero button text",
      "type": "text",
      "id":"heroB"
    },
    {
      "label":"hero slogan",
      "type": "text",
      "id":"heroS"
    }
    ],
    "presets": [
      {"name": "header"}
    ]
}
{% endschema %}